@import url('https://fonts.googleapis.com/css?family=Kosugi|Noto+Sans+TC|Ubuntu&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-accent-color);
  text-decoration: none;
}

.root {
  --base-height: 50vh;
  --main-bg-color: white;
  --main-primary-color: #f06292;
  --main-accent-color: #ffff00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.canvas-container {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main-primary-color);
}

.mol-view {
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--base-height);
  margin-right: auto;
  margin-left: 20vw;
}

.button {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((var(--base-height) - 10vh) / 3);
  width: calc((var(--base-height) - 10vh) / 3);
  background-color: transparent;
  border: solid 12px var(--main-bg-color);
  transition: 0.2s;
}

.button-text {
  font-size: 2vh;
  color: var(--main-bg-color);
}

.button-text-img {
  position: absolute;
  fill: var(--main-bg-color);
  top: 0;
  left: 0;
  margin: calc((var(--base-height) - 10vh) / 27);
  height: calc((var(--base-height) - 10vh) / 6 - 12px);
  transition: 0.2s;
}

.button-icon {
  font-size: calc((var(--base-height) - 10vh) / 6);
  color: transparent;
}

.button:hover {
  height: calc((var(--base-height) - 10vh) / 3 + 1vh);
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.button:hover .button-text-img {
  opacity: 0;
}

.button:hover .button-icon {
  color: var(--main-primary-color)
}

.title-block {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: var(--base-height);
  width: var(--base-height);
  min-width: calc(var(--base-height) * .8);
  margin-right: 20vw;
  padding-left: 5vh;
  background-color: transparent;
  justify-content: center;
  border: solid 12px var(--main-bg-color);
  transition: 0.2s;
}

.title-img {
  fill: var(--main-bg-color);
  height: calc(var(--base-height) - 15vh);
  transition: 0.2s;
}

.description {
  opacity: 0;
  position: absolute;
  top: 3vh;
  left: 5vh;
  right: 5vh;
  bottom: 5vh;
  font-size: 4.5vh;
  transition: 0.2s;
}

.title-block:hover {
  background-color: var(--main-primary-color);
}

.title-block:hover .description {
  opacity: 1;
}

.title-block:hover .right_half {
  opacity: 0;
}

.description_text {
  color: var(--main-bg-color);
}

.latin {
  font-family: 'Ubuntu', monospace;
}

.japanese {
  font-family: 'Kosugi', sans-serif;
}

.chinese {
  font-family: 'Noto Sans TC', sans-serif;
}

.citation-container {
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.info_icon {
  color: var(--main-bg-color);
  width: 15px;
  opacity: 0.5;
  transition: .2s;
}

.citation {
  color: var(--main-bg-color);
  margin-left: 10px;
  transition: .2s;
  font-size: 15px;
  opacity: 0;
}

.citation-container:hover .citation {
  opacity: 1;
}

.citation-container:hover .info_icon {
  opacity: 1;
}

@media (max-aspect-ratio: 9/8) {
  .root {
    justify-content: center;
  }

  .button-container {
    margin-left: unset;
    margin-right: 5vh;
  }

  .title-block {
    margin-right: unset;
  }
}

@media (max-aspect-ratio: 6/8) {
  .root {
    justify-content: center;
  }

  .button-container {
    display: none;
  }

  .title-img {
    padding-right: 100%;
    height: auto;
    margin: 6vw 12vw 6vw 0;
  }

  .title-block {
    width: calc(80vw);
    height: calc(80vw);
    min-width: unset;
    margin-right: unset;
    padding-bottom: unset;
    padding-left: 0;
  }
}
